:root {
    --primary-color: rgb(255, 93, 34);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
svg {
    vertical-align: middle;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", 'Gill Sans', sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS';
    background-color: rgb(55, 55, 55);
    color: white;
}

button{
    border: none;
    border-radius: 100px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 0.4rem var(--primary-color);
}

/* NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

header {
    position: fixed;
    z-index: 99;
    text-shadow: 0 0 0.5rem black;
    transition: height 0.3s;
}

header a {
    color: white;
    text-decoration: none;
}

nav {
    width: 100vw;
}


header img {
    height: 4rem;
}

header h1 {
    margin-left: 1rem;
    font-weight: 700;
}

header ul {
    list-style: none;
    column-gap: 1rem;
    font-weight: 600;
}

/* header ul li{
    transition: all 0.3s;
} */

header ul a{
    padding: 1rem 1rem;
}

header a:hover {
    transform: scale(1.05);
}

header svg {
    width: 10%;
    height: 40%;
    cursor: pointer;
    margin-left: auto;
}

/* HERO  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

main {
    overflow-y: hidden;
}

#hero {
    position: relative;
}

#main-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}

#hero-h1 {
    font-size: clamp(2.5rem, 7vw, 6rem);
    position: absolute;
    text-shadow: 0 0 1rem black;
    z-index: 3;
}

/* MAIN RECIPES  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


#presentation {
    font-size: clamp(2rem, 3vw, 3rem);
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#adviced-recipes h2{
    font-size: clamp(2rem, 3vw, 2.5rem);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#show-recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 3rem;
}

.card {
    width: 20rem;
    border: 1px white solid;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.card h1 {
    margin-top: 0.5rem;
}

.card:hover{
    transform: scale(1.025);
    box-shadow: 0 0 1rem black;
}

.card img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-info1{
    justify-content: space-evenly;
    margin-block: 0.5rem;
}

.card-info2 {
    justify-content: space-evenly;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
}

.card-info1 svg {
    color: var(--primary-color);
    margin-right: 0.3rem;
}

marker {
    color: var(--primary-color);
}

#adviced-recipes button{
    padding-block: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

#adviced-recipes button a{
    font-size: 1rem;
    padding: 1rem 1.25rem;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/* FORM ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

form {
    background-image: url("https://wallpapercave.com/wp/wp4696909.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

form h1{
    padding: 1rem;
    margin-bottom: 1rem;
}

form input {
    font-size: 1rem;
    margin-block: 1rem;
}

form input, form button[type="submit"]{
    margin-inline: 0.5rem;
    border-radius: 100px;
    padding: 0.5rem 0.75rem;
    border: none;
    transition: all 0.3s;
}

form input {
    background-color: white;
}

form input:focus{
    outline: 1px solid var(--primary-color);
    box-shadow: 0 0 0.5rem var(--primary-color);
}

form button {
    margin-bottom: 0.5rem;
}

#form-ajax {
    opacity: 0;
    margin-bottom: 1.5rem;
}

/* FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

footer{
    background-color: black;
}

#footer-container{
    height: 6rem;
    column-gap: 1rem;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 1px white solid;
    border-radius: 100%;
    transition: all 0.2s;
}

.footer-icon:hover {
    background-color: rgb(34, 34, 34);
}

.footer-icon svg {
    width: 1.75rem;
}

footer a {
    color: white;
    padding: 1rem 1rem;
}


/* PRESETS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.primary-color{
    color: var(--primary-color);
    display: inline-flex;
}

.vh-100 {
    height: 100vh;
}

.w-100{
	width: 100%;
}

.container {
    max-width: 90%;
}

.container2{
    max-width: 60%;
}

.mx-auto {
    margin-inline: auto;
}

.ms-auto {
    margin-inline-start: auto;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mx-1 {
    margin-inline: 1rem;
}

.pt-1 {
    padding-top: 1rem;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

/* big screen */
@media screen and (min-width: 900px) {
    nav{
        display: flex;
    }
    
    #show-recipes{
        max-width: 70%;
    }

    header svg {
        display: none;
    }

    header ul {
        margin-inline-start: auto;
    }
}

/* small screen */
@media screen and (max-width: 900px) {

    header ul, header li {
        text-align: center;
    }
    #show-recipes{
        max-width: 75%;
    }

    .card {
        width: 19rem;
    }

    .card img {
        height: 13rem;
    }

    form input {
        display: block;
        margin-inline: auto;
    }
}