:root {
    --primary-color: rgb(255, 93, 34);
    --cover-color: rgba(43, 43, 43, 0.616);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
svg {
    vertical-align: middle;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", 'Gill Sans', sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS';
    background-color: rgb(55, 55, 55);
    color: white;
}

button{
    border: none;
    border-radius: 100px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 0.4rem var(--primary-color);
}

body::-webkit-scrollbar {
    width: 0.4rem;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 100px;
}

#loading {
    font-size: clamp(2.5rem, 7vw, 5rem);
    font-weight: 700;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

header {
    position: fixed;
    z-index: 99;
    text-shadow: 0 0 0.5rem black;
    transition: height 0.3s;
}

header a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

nav {
    width: 100vw;
}


header img {
    height: 4rem;
}

header h1 {
    margin-left: 1rem;
    font-weight: 700;
}

header ul {
    list-style: none;
    column-gap: 1rem;
    font-weight: 600;
}

header ul a{
    padding: 0.8rem 2rem;
}

header a:hover {
    transform: scale(1.05);
}

header svg {
    width: 10%;
    height: 40%;
    cursor: pointer;
    margin-left: auto;
}

input::placeholder {
    font-family: 'Montserrat';
    color: rgb(166, 166, 166);
}

/* CARDS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.card {
    width: 20rem;
    border: 1px white solid;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.card a {
    color: white;
    text-decoration: none;
}

.card h1 {
    margin-top: 0.5rem;
}

.card:hover{
    transform: scale(1.025);
    box-shadow: 0 0 1rem black;
}

.card img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-info1{
    justify-content: space-evenly;
    margin-block: 0.5rem;
}

.card-info2 {
    justify-content: space-evenly;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
}

.card-info1 svg {
    color: var(--primary-color);
    margin-right: 0.3rem;
}

#adviced-recipes button{
    padding-block: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#adviced-recipes button a{
    font-size: 1rem;
    padding: 1rem 1.25rem;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/* FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.opacity-0 {
    opacity: 0;
}
footer{
    background-color: black;
}

#footer-container{
    height: 6rem;
    column-gap: 1rem;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 1px white solid;
    border-radius: 100%;
    transition: all 0.2s;
}

.footer-icon:hover {
    background-color: rgb(34, 34, 34);
}

.footer-icon svg {
    width: 1.75rem;
}

footer a {
    color: white;
    padding: 1rem 1rem;
}

.nono{
    animation-name: nono;
    animation-duration: 0.2s;
    animation-delay: 0.1s;
    animation-iteration-count: 2;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes nono {
    0% {
        transform: translateX(0rem);
    }
    25% {
        transform: translateX(0.5rem);
    }
    75%{
        transform: translateX(-0.5rem);
    }
    100%{
        transform: translateX(0rem);
    }
}


/* PRESETS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.primary-color{
    color: var(--primary-color);
    display: inline-flex;
}

.primary-color2{
    color: var(--primary-color);
}

.vh-100 {
    height: 100vh;
}

.w-100{
	width: 100%;
}

.container {
    max-width: 90%;
}

.container2{
    max-width: 60%;
}

.mx-auto {
    margin-inline: auto;
}

.ms-auto {
    margin-inline-start: auto;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mx-1 {
    margin-inline: 1rem;
}

.pt-1 {
    padding-top: 1rem;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

/* big screen */
@media screen and (min-width: 900px) {
    nav{
        display: flex;
    }
    
    header svg {
        display: none;
    }

    header ul, header li {
        margin-inline-start: auto;
        display: flex !important;
    }
    
}

/* small screen */
@media screen and (max-width: 900px) {

    header ul, header li {
        text-align: center;
        display: none;
    }

    header li {
        margin-block: 1.5rem;
    }
}